<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./tailwind.css" />
  </head>
  <body class="font-serif">
    <main class="py-6 px-4">
      <section class="max-w-3xl mx-auto prose sm:prose-xl">{ content }</section>

      <section class="flex-grow mt-6 max-w-3xl mx-auto">
        <h2 class="text-3xl bold mb-3">Posts</h2>
        <div>
          <ul class="text-lg font-semibold">
            {{ for page in pages.posts }}
            <li>
              <a class="hover:underline" href="/posts/{page.frontmatter.slug}">
                {page.date} - {page.frontmatter.name}
              </a>
            </li>
            {{ endfor }}
          </ul>
        </div>
      </section>
    </main>
  </body>
</html>
